<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Scenic Views</title>
    <link rel="stylesheet" href="../public/styles_home.css">
</head>
<body>
    <div class="main-container">
        <div class="login-card">
            <div class="card-content">
                <div class="header">
                    <h1>Welcome to Fund Flow</h1>
                </div>
                <div>
                    <button class="login-button" onclick="location.href='/admin-login'">Admin Account</button>
                    <button class="login-button" onclick="location.href='/public-login'">Public Account</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/script_home.js"></script>
</body>
